body,
html,



.title {
  font-size: 1rem;
  text-align: center;
}

.card-img {
  width: 320x;
  height: 400px;
  margin: auto;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;


}

.ribbon {
  display: flex;
  justify-content: space-evenly;
}

.card {
  border: 5px solid;
  border-radius: 75px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}


.light {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url(https://images.immediate.co.uk/production/volatile/sites/3/2022/12/Reshiram-dcefe42.jpg?resize=960%2C503)
  };

.dark {
    background-image: url(https://wallpapers.com/images/featured/zekrom-6g18z203e23asyjd.jpg)
    };


    /* :root {
  --red:#cf160f;
  --light-blue: rgb(76, 118, 174);
  --dark-blue: rgb(40, 6, 228);
  --dark-red: #75161f;
}

.red {
  --primary:  var(--red);
  --secondary: var(--dark-red);
}

.blue {
  --primary: var(--light-blue);
  --secondary:var(--dark-blue)
} */