body,
html,
:root {
  --blue:#2447e2;
  --light-blue: rgb(102, 168, 255);
  --dark-blue: rgb(43, 11, 226);
  --dark-red: #e7273a;
  --light-red: #e97979;
  --crimson: #760404;
}
.light {
  --primary: var(--blue);
  --secondary: var(--light-blue);
  --hover: var(--dark-blue);
}

.dark {
  --primary: var(--dark-red);
  --secondary: var(--light-red);
  --hover: var(--crimson);
}